.about-content {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  background-image: url("https://cdn.peraichi.com/userData/5d730384-2260-439b-9faa-6db10a00002b/img/5d9cb94e48164/original.jpg");
}

.about-content-text {
  display: inline-block;
  border-style: solid;
  border-width: 1;
  width: 95%;
  margin: 2.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFF;
  text-align: center;
}

.about-title {
  font-size: 3rem;
}

.about-body {
  font-size: 1.2rem;
  white-space: pre-wrap;
}

.about-body-form {
  font-size: 1.2rem;
  text-align: right;
  color: #0000FF text-decoration: underline;
  padding-bottom: 30px;
}
