ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  text-decoration: none;
}

.l-footer {
  text-align: center;
  padding: 0;
  position: relative;
  width: 1440px;
  margin: auto;
}

.l-container {
  width: 1440px;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

.l-container-narrow {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}

.nav-footer {
  height: 96px;
  margin-top: 4px;
}

.nav {
  position: relative;
  display: inline-block;
}

.nav-list {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

nav ol,
nav ul {
  list-style: none;
}

.nav-list-item {
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  z-index: 1;
}

.nav-link {
  color: #333;
  font-size: 14px;
  font-family: "NotoSansCJKjp";
  letter-spacing: .065em;
  display: inline-block;
  position: relative;
  margin-right: 27px;
  margin-top: -1px;
}

.nav-subtitle {
  display: block;
  font-size: 8px;
  letter-spacing: .08em;
  position: relative;
  margin-top: 2px;
  transition: margin 200ms, opacity 200ms;
}

.nav-link-contact {
  letter-spacing: .065em;
  display: inline-block;
  width: 80%;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 3rem;
  font-weight: bold;
  background-image: linear-gradient(#59A4B6 0%, #0F7198 100%);
  transition: .4s;
}

.nav-link-contact:hover {
  background-image: linear-gradient(#59A4B6 0%, #0F7198 70%);
}

.goto-top {
  background-color: #fff;
  box-shadow: 0 8px 32px 8px rgba(0, 0, 0, .1);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -45px;
  left: 31px;
  width: 65px;
  height: 65px;
}

.footer-copyright {
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-size: 12px;
  font-weight: 700;
  border-top: 1px solid #d6d6d6;
  margin-top: 30px;
  padding: 12px 10px 10px;
  letter-spacing: .105em;
  margin-left: 4px;
}

.sns {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -4px;
}

.sns-link {
  background-color: #333;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

#page_top {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

#page_top a {
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f139';
  font-size: 4.5em;
  color: #0F7198;
}

@media screen and (max-width: 767px) {
  .l-footer {
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
  }

  .l-footer-container {
    padding: 0;
  }

  .l-container {
    width: 100%;
    padding: 0 20px;
  }

  .l-container-narrow {
    width: 100%;
  }

  .nav-footer {
    height: auto;
  }

  .nav-footer .nav-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid #d6d6d6;
    margin-top: -3px;
    margin-left: 1px;
  }

  .nav-footer .nav-list-item {
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    margin: 0;
    padding: 20px;
    z-index: 1;
  }

  .nav-footer .nav-subtitle {
    margin-top: 3px;
  }

  .nav-footer .nav-list-item-full {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    border: none;
    padding: 40px 36px 0;
  }

  .nav-footer .nav-list-item {
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    margin: 0;
    padding: 20px;
    z-index: 1;
  }

  .nav-footer .nav-link-contact {
    width: 100%;
    padding-left: 4px;
    padding-top: 7px;
  }

  .nav-link-contact {
    top: -4px;
    left: 0;
    padding: 8px;
  }

  .goto-top {
    width: 45px;
    height: 45px;
    left: 19px;
    top: -65px;
  }

  .footer-copyright {
    border: none;
    font-size: 8px;
    margin: auto;
    bottom: -16px;
    position: relative;
  }

  .sns {
    margin-top: 24px;
    margin-left: 0;
  }

  .sns-link {
    width: 40px;
    height: 40px;
    margin: 0 8px;
  }
}

/* ボタン全体 */
.flowbtn10 {
    display: inline-block;
    font-size: 35px;
    text-decoration: none;
    transition: .5s;
    color: #444;
}

/* インスタ・pocket・ラインだけ少し大きく */
.flowbtn10 .fa-instagram,
.flowbtn10 .fa-get-pocket,
.flowbtn10 .fa-get-pocket,
.flowbtn10 .fa-line {
    font-size: 38px;
}

/* Twitterマウスホバー時 */
.flowbtn10 .fa-twitter:hover {
    color: #55acee;
}

/* Instagramマウスホバー時 */
.flowbtn10 .fa-instagram:hover {
    color: #c6529a;
}

/* Facebookマウスホバー時 */
.flowbtn10 .fa-facebook-f:hover {
    color: #3b5998;
}

/* Feedlyマウスホバー時 */
.flowbtn10 .fa-rss:hover {
    color: #6cc655;
}

/* Pocketマウスホバー時 */
.flowbtn10 .fa-get-pocket:hover {
    color: #ef3f56;
}

/* はてブマウスホバー時 */
.flowbtn10 .fa-bold:hover {
    color: #1ba5dc;
}

/* YouTubeマウスホバー時 */
.flowbtn10 .fa-youtube:hover {
    color: #fc0d1c;
}

/* LINEマウスホバー時 */
.flowbtn10 .fa-line:hover {
    color: #00c300;
}

/* メールアイコンマウスホバー時 */
.flowbtn10 .fa-envelope:hover {
    color: #f3981d;
}

/* ulタグの内側余白を０にする */
ul.snsbtniti {
    padding: 0 !important;
    list-style-type: none !important;
}

/* アイコン全体の位置 */
.snsbtniti {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* アイコン同士の余白 */
.snsbtniti li {
    flex: 0 0 33%;
    text-align: center !important;
}
