/* ------------------------------------------------- *
 *        FAQ 20200504
 * ------------------------------------------------- */
section#faq * {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#faq h1 {
  color: #696969;
  font-size: 70px !important;
  font-size: 2.56rem !important;
  line-height: 1.2;
}

#faq h2 {
  color: #696969;
  font-size: 70px !important;
  font-size: 1.6rem !important;
  border-bottom: 2px solid #CCCCCC;
  margin-top: 50px;
}

#faq .faq-area .faq-box {
  margin-bottom: 15px;
  color: #3e3a39;
}

#faq .faq-area .faq-box .question,
#faq .faq-area .faq-box .answer {
  padding: 15px 10px;
}

#faq .faq-area .faq-box .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 5px solid #5bc0de;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#faq .faq-area .faq-box .question .ttl {
  min-width: 50px;
  font-weight: bold;
}

#faq .faq-area .faq-box .question .txt {
  width: 92%;
}

#faq .faq-area .faq-box .question::after {
  content: "\f138";
  font-family: FontAwesome;
  margin-left: 0.5rem;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#faq .faq-area .faq-box .answer {
  display: none;
  margin: 10px 0;
  border-left: 4px solid #fff;
}

#faq .faq-area .faq-box .answer a {
  display: inline-block;
  padding: 0 5px;
  border-bottom: 1px solid #1D2088;
  color: #1D2088;
}

#faq .faq-area .faq-box .question.open {
  background-color: #f6f6f6;
}

#faq .faq-area .faq-box .question.open::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
