section#privacy * {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

section#privacy h1 {
  color: #696969;
  font-size: 70px !important;
  font-size: 2.56rem !important;
  line-height: 1.2;
}

section#privacy h2 {
  color: #696969;
  font-size: 70px !important;
  font-size: 1.6rem !important;
  border-bottom: 2px solid #CCCCCC;
  margin-top: 50px;
}
