@media screen and (min-width: 768px)
#main-contents .sec {
    margin-top: -80px;
    padding-top: 80px;
}

@media screen and (min-width: 768px)
.title01 {
    margin-bottom: 40px;
    font-size: 50px !important;
    font-size: 5rem !important;
}

#userguide .container {
  width: 95vw;
}


.title01 {
    /* font-family: garamond-premier-pro, serif; */
    color: #27d4dc;
    line-height: 1.16;
    font-weight: 400;
    text-align: center;

}

#userguide .detail .item:not(.reverse) {
  flex-direction: row-reverse;
}


#userguide .detail .item {
  display: flex;
  justify-content: center;
}

#userguide .detail .item:not(.reverse) figure {
  margin-left: -75px;
}

#userguide .detail .item figure {
  flex: 1;
  width: 100%;
}

#userguide .detail .item figure {
  height: 400px;
}

figure {
  overflow: hidden;
  text-align: center;
}

img.ofi {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: 50%;
  font-family: 'object-fit: cover;';
  transition: all .3s ease;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#userguide .detail .item:not(.reverse) .text {
  padding: 0 105px 0 20px;
}

#userguide .detail .item .text {
  display: flex;
  align-items: center;
  width: 50%;
}

#userguide .detail .item .text, #userguide .detail .item figure {
  height: 400px;
}
#userguide .detail .item:not(.reverse) figure {
    margin-left: -75px;
}

#userguide .detail .item:not(.reverse) .text .inner {
    margin-left: auto;
}

#userguide .detail .item:not(:first-child) {
  margin-top: 55px;
}

#userguide .detail .item {
  display: flex;
  justify-content: center;
}

#userguide .detail .item.reverse figure {
  margin-right: -75px;
}

#userguide .detail .item figure {
  flex: 1;
  width: 100%;
}

#userguide .detail .item .text, #userguide .detail .item figure {
  height: 400px;
}

figure {
  overflow: hidden;
  text-align: center;
}

#userguide .detail .item.reverse .text {
    padding: 0 20px 0 105px;
}

#userguide .detail .item .text {
    display: flex;
    align-items: center;
    width: 50%;
}

#userguide .detail .item .text, #userguide .detail .item figure {
    height: 400px;
}

#userguide .detail .item.reverse .text .inner {
    margin-right: auto;
}

#userguide .detail .item .text .inner {
    width: 470px;
}

#userguide .detail .item .text .inner h3 {
    margin-bottom: 32px;
    /* font-family: garamond-premier-pro, serif; */
    color: #27d4dc;
    font-size: 70px !important;
    font-size: 3.3rem !important;
    line-height: 1.2;
    font-weight: 400;
}

#userguide .detail .item .text .inner h3 span {
    display: inline-block;
    width: 100%;
}

#userguide .detail .item .text .inner h3 span.right {
    text-align: right;
}

#userguide .detail .item .text .inner h3 span {
    display: inline-block;
    width: 100%;
}

#userguide .detail .item .text .inner h4 {
    margin-bottom: 30px;
    font-size: 28px !important;
    font-size: 1.6rem !important;
    line-height: 1.6428571429;
}

#userguide .detail .item .text .inner p {
    font-size: 0.95rem;
}




.section-meta {
    background-color: #f1f5f8 !important;
}
